{% extends "auth/login_base.html" %}

{% block title %}
Team 01 WebProject
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header"><h3 class="text-center font-weight-light my-4">Register</h3></div>
          <div class="card-body">
            <form method="POST" action="{{ url_for('register') }}">
              {{ form.hidden_tag() }}
              <div class="form-floating mb-3">
                {{ form.customername(class="form-control", placeholder="Customer Name") }}
                <label for="customername">Customer Name</label>
              </div>
              <div class="form-floating mb-3">
                {{ form.password(class="form-control", placeholder="Password") }}
                <label for="password">Password</label>
              </div>
              <div class="form-floating mb-3">
                {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                <label for="confirm_password">Confirm Password</label>
              </div>
              <div class="form-check mb-3">
                {{ form.is_admin(class="form-check-input") }}
                <label class="form-check-label" for="is_admin">Is Admin</label>
              </div>
              <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
