{% extends "base.html" %}

{% block title %}
Writer's Community - Team 01 WebProject
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card shadow-lg border-0 rounded-lg mt-2">
        <div class="card-header"><h3 class="text-center font-weight-light my-2">작가들의 커뮤니티</h3></div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><a href="#">첫 번째 커뮤니티 게시글</a></td>
                <td>작가 A</td>
                <td>2024-07-01</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><a href="#">두 번째 커뮤니티 게시글</a></td>
                <td>작가 B</td>
                <td>2024-07-02</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><a href="#">세 번째 커뮤니티 게시글</a></td>
                <td>작가 C</td>
                <td>2024-07-03</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><a href="#">네 번째 커뮤니티 게시글</a></td>
                <td>작가 D</td>
                <td>2024-07-04</td>
              </tr>
              <!-- 추가 더미 데이터 -->
              <tr>
                <th scope="row">5</th>
                <td><a href="#">다섯 번째 커뮤니티 게시글</a></td>
                <td>작가 E</td>
                <td>2024-07-05</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td><a href="#">여섯 번째 커뮤니티 게시글</a></td>
                <td>작가 F</td>
                <td>2024-07-06</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td><a href="#">일곱 번째 커뮤니티 게시글</a></td>
                <td>작가 G</td>
                <td>2024-07-07</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td><a href="#">여덟 번째 커뮤니티 게시글</a></td>
                <td>작가 H</td>
                <td>2024-07-08</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td><a href="#">아홉 번째 커뮤니티 게시글</a></td>
                <td>작가 I</td>
                <td>2024-07-09</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td><a href="#">열 번째 커뮤니티 게시글</a></td>
                <td>작가 J</td>
                <td>2024-07-10</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer small text-muted text-center">작가들의 커뮤니티 게시판</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
